/* Ioana A Mititean */
/* 37.3 - React Props & Pokedex */


.App {
    background-color: white;
}

.App-heading {
    color: grey;
    text-align: center;
}

/* .App-deck {
    background-color: aquamarine;
} */
