/* Ioana A Mititean */
/* 37.3 - React Props & Pokedex */


.Pokecard {
    background-color: lightgrey;
    border-radius: 12px;
    width: 15%;
    text-align: center;
    padding: 15px;
    margin: 20px;
}

.Pokecard-name {
    color: blue;
    margin: 0px;
}
